.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1249px}
.u-section-1 .u-custom-html-1 {min-height: 67px; width: 762px; animation-duration: 500ms; margin: 235px auto 0}
.u-section-1 .u-image-1 {width: 218px; height: 289px; object-position: 100% 50%; animation-duration: 1000ms; margin: 0 63px 0 auto}
.u-section-1 .u-image-2 {width: 219px; height: 289px; object-position: 0% 50%; animation-duration: 1100ms; margin: -289px auto 0 63px}
.u-section-1 .u-image-3 {width: 260px; height: 224px; object-position: 50% 52.72%; animation-duration: 1000ms; margin: -252px 309px 0 auto}
.u-section-1 .u-image-4 {width: 233px; height: 233px; animation-duration: 1000ms; margin: -233px auto 0 311px}
.u-section-1 .u-image-5 {width: 226px; height: 227px; animation-duration: 1000ms; margin: 0 auto 60px}
.u-section-1 .u-custom-html-2 {width: 170px; min-height: 68px; margin: 30px auto 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 825px}
.u-section-1 .u-custom-html-1 {height: auto; width: 761px; margin-top: 208px}
.u-section-1 .u-image-1 {width: 194px; height: 226px; margin-top: 65px; margin-right: 43px}
.u-section-1 .u-image-2 {width: 178px; height: 244px; margin-top: -244px; margin-left: 19px}
.u-section-1 .u-image-3 {width: 198px; height: 216px; margin-top: -216px; margin-right: 272px}
.u-section-1 .u-image-4 {width: 203px; height: 198px; margin-top: -216px; margin-left: 232px}
.u-section-1 .u-image-5 {width: 178px; height: 178px; margin-top: 34px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1321px}
.u-section-1 .u-custom-html-1 {width: 764px; margin-left: -22px; margin-right: -22px}
.u-section-1 .u-image-1 {margin-top: 58px; margin-right: 44px}
.u-section-1 .u-image-2 {margin-top: -235px; margin-left: 43px}
.u-section-1 .u-image-3 {margin-top: -32px; margin-right: 33px}
.u-section-1 .u-image-4 {width: 188px; height: 191px; margin-left: 38px}
.u-section-1 .u-image-5 {height: 179px; margin-top: -370px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1418px}
.u-section-1 .u-custom-html-1 {margin-top: 211px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {margin-top: 209px; margin-right: auto}
.u-section-1 .u-image-2 {margin-top: -26px; margin-left: auto}
.u-section-1 .u-image-3 {margin-top: 0; margin-right: auto}
.u-section-1 .u-image-4 {margin-top: 0; margin-left: auto}
.u-section-1 .u-image-5 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-custom-html-2 {min-height: 47px; height: auto; width: 409px; margin-top: -1112px; margin-left: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1273px}
.u-section-1 .u-image-1 {margin-top: 137px}
.u-section-1 .u-image-2 {margin-top: 20px}
.u-section-1 .u-custom-html-2 {width: 407px; animation-duration: 500ms; margin-top: -1134px; margin-left: -34px; margin-right: -34px} }